:root{
--branca: white;    
--preta: black;
}


*{ margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%px;
    

    ;
    

}


body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;


}



header .logo {color: var(--branca);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-right: 140px;
    


}




header nav a {
    text-decoration: none;
    color: gray;
    margin-right: 20px;
    font-size: 20px;
}


header nav a:hover {
color: white;
}


.filme-pricipal {

    font-size: 14px;
    background: url("../img/entre-armas-e-livros.jpg");
    height: 800px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    


    


}

.sinops {
    margin-bottom: 100px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    
}

.titulo {
    margin-top: 35%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    

}

.botao
 { background-color: rgba(0,0,0,.50);
border: none;
padding: 15px 30px;
color: white;
margin-right: 30px;
font-size: 12px;
cursor: pointer;
transition: 2s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 10px;
}


.container { 
    margin-left: 20px
    ;
    }

.filme-pricipal .container{
    width: 60%;
}



.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}


.logotipo { display: block;
height: 100%;
width: 100px;
}